<section style="max-width: 400px; margin: 0 auto;">
    <div class="mb-3">
        <input type="text" placeholder="Pick Up Cities" class="form-control">
    </div>
    <div class="mb-3">
        <input type="text" placeholder="Drop Off Cities" class="form-control">
    </div>
    <div class="mb-3">
        <button class="btn btn-success w-100">Find Cars</button>
    </div>
</section>

<section>
    <div class="row mb-3">
        <h2>Popular Cars in Nagpur</h2>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-3 mb-3">
            <div class="card">
                <!-- <img src="..." class="card-img-top"> -->
                <div class="card-body">
                    <p class="card-text">Star 4.98</p>
                    <h5 class="card-title">Maruti Suzuki</h5>
                    <p class="card-text">Manual - Petrol - 7 Seats</p>
                    <hr>
                    <p class="card-text">Available from 20 November</p>
                    <p class="card-text fw-bold">Rs. 180/hr </p>
                </div>
            </div>
        </div>
    </div>
</section>