<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <div>
            <div class="d-flex gap-4">
                <button class="btn btn-outline-primary">Login</button>
                <button class="btn btn-outline-success" (click)="openRegister()">Register</button>
            </div>
        </div>
    </div>
</nav>

<div class="modal" tabindex="-1" id="register">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Register</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    (click)="closeRegister()"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <input type="text" placeholder="name" class="form-control" [(ngModel)]="registerObj.name">
                </div>
                <div class="mb-3">
                    <input type="text" placeholder="email" class="form-control" [(ngModel)]="registerObj.emailId">
                </div>
                <div class="mb-3">
                    <input type="text" placeholder="mobile no" class="form-control" [(ngModel)]="registerObj.mobileNo">
                </div>
                <div class="mb-3">
                    <select name="" class="form-select" [(ngModel)]="registerObj.userRole">
                        <option value="">select your role</option>
                        <option value="Customer">Customer</option>
                        <option value="Car Owner">Car Owner</option>
                    </select>
                </div>
                <div class="mb-3">
                    <input type="text" placeholder="password" class="form-control" [(ngModel)]="registerObj.password">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" (click)="onRegister()">Register</button>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid py-4">
    <router-outlet></router-outlet>
</div>